{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">Members Area</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-5">
        <!-- fitness classes -->
        <div class="col">
            <h4 class="text-dark"> Workout Routines </h4>
        </div>
    </div>
    <div class="row mb-5">
        {% for workout in workouts  %}
        <div class="col-3">
            <div class="card classes-card">
                {% for type in types_of_workout %}
                {% if type == workout.type_of_workout %}
                {% if type.image %}
                <img src="{{ type.image.url }}" class="card-img-top" alt="image of class type">
                {% else %}
                <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="{{ type.name }}">
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{ workout.title }}</h5>
                    <p class="card-text"><strong>Type: </strong>{{ workout.type_of_workout }}</p>
                    <p class="card-text"><strong>Description: </strong>{{ workout.description }}</p>
                    {% if workout.date >= today %}
                    <strong> Date: </strong>{{ workout.date }}
                    {% else %}
                    <strong> Date: </strong><span class="strike">{{ workout.date }}</span>
                    <span class="text-danger"> This class has already happened </span>
                    {% endif %}
                    <p class="card-text"><strong>Location: </strong>{{ workout.location }}</p>
                    <p class="card-text">
                        <strong>Duration: </strong>{{ workout.duration }}
                    </p>
                    {% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edit_workout' workout.id %}">
                            Edit Workout
                        </a>
                        |
                        <a class="text-danger" href="{% url 'delete_workout' workout.id %}">
                            Delete Workout
                        </a>
                    </small>
                    {% endif %}
                    {% if workout.date >= today %}
                    <a href="{% url 'add_to_my_workouts' workout.id %}" class="btn btn-primary mt-2">Add To My
                        Routines</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}