{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">My Workouts</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-5">
        {% for workout in workouts %}
        <div class="col-3">
            <div class="card classes-card">
                <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="image of class type">
                <div class="card-body">
                    <h5 class="card-title">{{ workout.title }}</h5>
                    <p class="card-text"><strong>Type: </strong>{{ workout.type_of_workout }}</p>
                    <p class="card-text"><strong>Description: </strong>{{ workout.description }}</p>
                    <p class="card-text">
                        <strong>Duration: </strong>{{ workout.duration }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}