{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">My Workouts</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-4">
        <a class="text-black" href="{% url 'profile' %}">
            <i class="fas fa-arrow-left"></i> Back to Profile
        </a>
    </div>
    <div class="row mb-5">
        {% for workout in workouts %}
        <div class="col-3">
            <div class="card classes-card">
                {% for type in types_of_workout %}
                {% if type == workout.type_of_workout %}
                {% if type.image %}
                <img src="{{ type.image.url }}" class="card-img-top" alt="image of class type">
                {% else %}
                <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="{{ type.name }}">
                {% endif %}
                {% endif %}
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{ workout.title }}</h5>
                    <p class="card-text"><strong>Type: </strong>{{ workout.type_of_workout }}</p>
                    <p class="card-text"><strong>Description: </strong>{{ workout.description }}</p>
                    <p class="card-text">
                        {% if workout.date >= today %}
                        <strong> Date: </strong>{{ workout.date }}
                        {% else %}
                        <strong> Date: </strong><span class="strike">{{ workout.date }}</span>
                        <span class="text-danger"> This class has already happened </span>
                        {% endif %}
                    </p>
                    <p class="card-text"><strong>Location: </strong>{{ workout.location }}</p>
                    <p class="card-text"><strong>Duration: </strong>{{ workout.duration }}</p>
                </div>
            </div>
            <a href="{% url 'remove_from_my_workouts' workout.id %}" class="btn btn-danger mt-2">Remove from my
                Classes</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}