{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- empty container to push content clear of headder -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container home-container mb-4 col-lg-10 offset-lg-1">
    <div class="row {% if request.user.is_authenticated %} h-50 {% else %} h-100 {% endif %} shop-now-section d-flex align-items-center">
        <div class="mx-auto">
            <h3>
                <a class="btn btn-lg btn-black text-uppercase" href="{% url 'products' %}">shop now!</a>
            </h3>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="row h-50 members-area-section d-flex align-items-center mb-2">
        <div class="mx-auto">
            <h3>
                <a class="btn btn-lg btn-black text-uppercase" href="{% url 'members_area' %}">members area</a>
            </h3>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}