{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">My Profile</h2>
            <small class="text-muted">{{ user.username }}</small>
            <hr>
        </div>
    </div>
    <div class="row mb-5">
        <!-- fitness classes and order history links -->
        <div class="col col-lg-8 order-2">
            <div class="users-fitness-classes-section mb-1">
                <a class="btn btn-dark" href="">
                    <h4 class=""> My Fitness Classes </h4>
                </a>
            </div>
            <div class="user-order-section mt-1">
                <a class="btn btn-dark" href="{% url 'user_orders' %}">
                    <h4 class=""> My Orders </h4>
                </a>
            </div>
        </div>
        <!-- default delivery information -->
        <div class="col col-lg-4">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-2 mb-2" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success float-right">Update Info</button>
            </form>
        </div>
    </div>
    {% endblock %}