{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">My Wishlist</h2>
            <hr>
        </div>
    </div>
    {% if items.count > 0 %}
    <div class="row justify-content-between">
        <a class="text-decoration-none" href="{% url 'products' %}">
            <i class="fas fa-arrow-circle-left"></i> View Products
        </a>
    </div>
    <div class="row mb-4">
        <a class="text-black" href="{% url 'profile' %}">
            <i class="fas fa-arrow-left"></i> Back to Profile
        </a>
    </div>
    <div class="row">
        {% for item in items %}
        <div class="col-sm-6 col-md-4 col-lg-3 mt-1 mb-1">
            <div class="product-card card">
                <a href="{% url 'product_details' item.product.id %}">
                    {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" class="card-img-top" alt="product.name">
                    {% else %}
                    <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="product.name">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{item.product.name}}</h5>
                    <p class="card-text">£{{item.product.price}}</p>
                    {% if item.product.category %}
                    <p class="card-text"><i class="fas fa-tag"></i> {{item.product.category}}</p>
                    {% endif %}
                    {% if item.product.rating %}
                    <p class="card-text"><i class="fas fa-star"></i> {{item.product.rating}}/10</p>
                    {% else %}
                    <p class="card-text">No Rating</p>
                    {% endif %}

                    <a class="wishlist-red-heart" href="{% url 'remove_from_wishlist' item.product.id 'wishlist' %}">
                        <small>Remove From Wishlist</small>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="mb-4">You Wishlist Is Empty</p>
        <a class="text-decoration-none" href="{% url 'products' %}">
            <i class="fas fa-arrow-circle-left"></i> Add Some Products
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}