{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font text-center mb-4">Thanks For Your Order!</h2>
            <hr>
            <p class="text-black">The details are below. A confirmation email has been sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <!-- summary of current order -->
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
{% endblock %}