body {
    height: 100%;
}

.home-container {
    height: 100vh;
}

.shop-now-section {
    background: url('/media/shop-now.png') no-repeat center center;
    background-size: cover;
    color: #555;
}

.members-area-section {
    background: url('/media/members-area.jpg') no-repeat center center;
    background-size: cover;
    color: #555;
}

.ff-logo {
    width: 85px;
    height: 70px;
    background: url('/media/FFlogo.jpg') no-repeat center center;
    background-size: cover
}

.product-card {
    height: 100%;
}

.btt-button {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.btt-link,
.remove-item,
.update-link {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*pushes homepage content below nav section*/
.header-container {
    padding-top: 160px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/* spinning overlay for checkout */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 115, 0, 0.8);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}