body {
    height: 100%;
}

.home-container {
    height: 100vh;
}

.shop-now-section {
    background: url('/media/shop-now.png') no-repeat center center;
    background-size: cover;
    color: #555;
}

.members-area-section {
    background: url('/media/members-area.jpg') no-repeat center center;
    background-size: cover;
    color: #555;
}

.ff-logo {
    width: 85px;
    height: 70px;
    background: url('/media/FFlogo.jpg') no-repeat center center;
    background-size: cover
}

.product-card {
    min-height: 100%;
}

/*pushes homepage content below nav section*/
.header-container {
    padding-top: 200px;
}