<div class="collapse navbar-collapse px-2" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="list-inline-item dropdown d-sm-none">
            <a class="nav-link" href="#" id="main-nav-user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="">
                    <p class="mt-3 mb-1 font-weight-bold">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="main-nav-user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'add_workout' %}" class="dropdown-item">Class Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=shorts,tops" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=yoga" class="dropdown-item">Yoga</a>
                <a href="{% url 'products' %}?category=boxing" class="dropdown-item">Boxing</a>
                <a href="{% url 'products' %}?category=yoga,boxing" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consumables
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=powders" class="dropdown-item">Powders</a>
                <a href="{% url 'products' %}?category=bars" class="dropdown-item">Bars</a>
                <a href="{% url 'products' %}?category=powders,bars" class="dropdown-item">All Consumables</a>
            </div>
        </li>
    </ul>
</div>

