    <div class="logo d-none d-md-block d-lg-none col-5 offset-3 offset-md-4 px-4 my-auto">
        <a href="{% url 'home' %}" class="nav-link text-dark">
            <h4>
                <span class="ff-logo-lg-screen"></span>
                Forever Fitness
            </h4>
        </a>
    </div>
    <div class="d-block d-md-none col-2 px-4 my-auto">
        <a href="{% url 'home' %}" class="nav-link ff-logo">
            <h4 class="text-dark">
                Forever <br>
                Fitness
            </h4>
        </a>
    </div>

<div class="d-block col-5 offset-5 col-md-3 offset-md-0 d-lg-none my-auto">
    <ul class="list-inline list-unstyled text-right my-0">
        <li class="list-inline-item dropdown d-none d-sm-inline-flex">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center text-dark">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                <a href="{% url 'add_workout' %}" class="dropdown-item">Class Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="list-inline-item d-sm-inline-flex">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} bag nav-link"
                href="{% url 'bag' %}">
                <div class="text-center text-dark">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                        {% else %}
                        £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="d-none col-md-12 d-md-block d-lg-none px-4 my-auto">
    <form method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
            <div class="input-group-append">
                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>