{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">Members Area</h2>
            <hr>
        </div>
    </div>
    <div class="row mb-5">
        <!-- fitness classes -->
        <div class="col">
            <h4 class="text-dark"> Fitness Classes </h4>
        </div>
    </div>
    {% endblock %}