{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-1">404 - Page Not Found</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <h5 class="col text-center">
        Sorry, we are having trouble finding this page <br>
        please return to the main site whilst we try and fix it <br>
        <a class="btn btn-black font-weight-bold mt-3" href="{% url 'home' %}" role="button">
            Home
        </a>
    </h5>
</div>
<div class="row">
    <div class="col text-center broken-chain">

    </div>
</div>
{% endblock %}