{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- empty container to push content clear of headder -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-10 offset-1 mb-4">
        <div class="row">
            <div class="col text-center mt-3 mb-3">
                <h2>Product Details</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-1 mb-1">
                <div class="product-card card">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="product.name">
                    {% else %}
                    <img src="{{ MEDIA_URL }}no-image.jpg" class="card-img-top" alt="product.name">
                    {% endif %}
                </div>
            </div>
            <div class="col-6 mt-1 mb-1">
                <div class="product-card">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">£{{product.price}}</p>
                        {% if product.category %}
                        <p class="card-text"><i class="fas fa-tag"></i> {{product.category}}</p>
                        {% endif %}
                        {% if product.rating %}
                        <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}</p>
                        {% else %}
                        <p class="card-text">No Rating</p>
                        {% endif %}
                        {% if product.has_sizes %}
                        <select class="mt-1 mb-3" name="sizes" id="sizes">
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M" selected>M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="2XL">2XL</option>
                        </select>
                        {% endif %}
                        <p class="card-text">{{product.description}}</p>
                        <div class="row mt-1 mb-1">
                            <a class="btn btn-dark" href="" role="button">Add to Basket</a>
                        </div>
                        <div class="row mt-1 mb-1">
                            <a class="btn btn-success" href="{% url 'products' %}" role="button">Continue Shopping</a>
                        </div>
                        <div class="row mt-1 mb-1">
                            <a class="btn btn-warning" href="" role="button">Go To Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}